<!-- utilizo en todos mis html ion content para dar forma de tamaño de movil-->
<ion-content class="home-bg">

  <div class="contenedor-principal">

    <ion-card class="card-contenedor">
      <!--dentro del ion-content creo ion-card para centrarlo y dar forma de movil-->
      <ion-card-header>
        <ion-card-title class="titulo-header">Black Metal</ion-card-title>
      </ion-card-header>

      <ion-card-content>

       <!--formulario quel me permite crear o editar un disco-->
        <form [formGroup]="discoForm">

          <!--me permite mantener el mismo nombre de la imagen antes cuando se edita el disco-->
          <input type="hidden" formControlName="filenameOriginal" />

          <ion-item>
            <ion-input placeholder="Nombre del disco" formControlName="brand"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="Autor / Grupo" formControlName="model"></ion-input>
          </ion-item>
          <!--al ussar el multer tengo que ponerlo de esta forma para que pueda usarla como portada -->
          <ion-item>
            <input 
              id="fileInput"
              type="file" 
              (change)="onFileSelected($event)"
              accept=".jpg,.jpeg,.png"
            />
          </ion-item>

        
          <div class="center-button">
            <ion-button class="guardar-btn" (click)="guardar()">GUARDAR DISCO</ion-button>
          </div>

        </form>

       
        <ion-list>
          <!--muestra cada disco de la tabla-->
          <ion-item *ngFor="let d of discos" class="item-disco">

            <ion-thumbnail slot="start">
              <!--coge la imagen de imagens como multer y la hace miniatura para que se vea la portada-->
              <img 
                *ngIf="d.filename; else noImage"
                [src]="'http://localhost:8080/images/' + d.filename"
                alt="Portada del disco"
              />
              <!--si no hay esa imagen me da esto por defecto-->
              <ng-template #noImage>
                <img src="assets/imagenes/default-disco.png" alt="Sin imagen">
              </ng-template>

            </ion-thumbnail>

            <ion-label>
              <h2 class="disc-brand">{{ d.brand }}</h2>
              <p class="disc-model">{{ d.model }}</p>
              <p class="disc-estilo">Black Metal</p>
            </ion-label>

           
            <ion-button
              class="btn-action"
              (click)="editarDisco(d)">
              EDITAR
            </ion-button>

           
            <ion-button
              class="btn-action"
              color="danger"
              (click)="deleteDisco(d.id)">
              BORRAR
            </ion-button>

          </ion-item>

        </ion-list>

      
        <ion-grid class="stats-bottom">
          <ion-row class="row-stats">

            <ion-col class="stats-col">
              <ion-icon name="flame"></ion-icon>
              <div>Black Metal</div>
            </ion-col>

            <ion-col class="stats-col volver-col">
              <ion-button class="volver-btn" (click)="volverInicio()">VOLVER</ion-button>
            </ion-col>

            <ion-col class="stats-col">
              <ion-icon name="albums"></ion-icon>
              <div>{{ discos.length }} discos</div> <!--me da la cantidad de discos que hay-->
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>

